*{
  box-sizing: border-box;
  text-decoration: none;
  color: black;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  width: 25rem;
  height: 35rem;
  background-color: lightgray;
  margin: auto;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: .5rem;
  margin-top: 10vh;
  box-shadow: grey 0 0 20px 3px inset;
}